# macOS 관련 파일
.DS_Store

# Node.js 관련 파일
node_modules/
npm-debug.log
yarn-error.log

# Python 관련 파일
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Java 관련 파일
*.class
*.jar
*.war
*.ear

# Visual Studio Code 관련 파일
.vscode/
.history/

# 기타
*.log
*.swp
*.swo
.idea/
*.iml
*.sublime-project
*.sublime-workspace